.faq-section {
    padding: 60px 20px 80px;
    background-color: #0a0a0a
}

.faq-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: #f8d57e
}

.faq {
    max-width: 800px;
    margin: 0 auto
}

.faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    cursor: pointer
}

.question {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #151515;
    border-radius: 12px;
    transition: background .4s
}

.question:hover {
    background-color: #1f1f1f
}

.icon {
    font-size: 24px;
    color: #f8d57e
}

.answer {
    font-size: 18px;
    color: #bbb;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding-top .5s
}

.answer.open {
    max-height: 500px;
    padding-top: 10px
}